#header body,#header div,#header dl,#header dt,#header dd,#header ul,#header ol,#header li,#header h1,#header h2,#header h3,#header h4,#header h5,#header h6,#header pre,#header form,#header fieldset,#header input,#header textarea,#header p,#header blockquote,#header th,#header td
{
	margin:0;
	padding:0;
}

html
{
	height:100%;
}

body
{
	margin:0px;
	padding:0px;
	height: 100%;
}

#lab-3-site{
	width:100%;
	height:100%;
}

#centered-container{
	width:500px;
	margin:0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#button-container{
	padding:50px;
	position:relative;
	top:0px;
	left:0px;
}

#popup-button{
	border-style: none;
	background-color:#000000ff;
	color:#fff;
	padding:15px 25px 15px 25px;
	width:400px;
	cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 25px;
    border: 1px solid #000;
    width: 50%; 
    position: relative;
	top: 50%;
	transform: translateY(-50%) perspective(1px);
}

.close {
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: 700;
}

.close:hover,
.close:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

form>div{
	padding-top:10px;
	padding-bottom: 10px;
}

form label{
	display: inline-block;
	width:35%;
}

.form-field{
	width:60%;
}

#garbage{
	width:initial;
}